In [1]:
nse_path = "data/imports/EQUITY_L.csv"
bse_path = "data/imports/Equity.csv"
dump_path = "data/exports/yfinance_dump.csv"

In [2]:
import pandas as pd
df_nse = pd.read_csv(nse_path)
df_nse = df_nse.rename(columns=lambda x: 'NSE_' + x.strip().replace(" ", "_"))

In [3]:
df_nse

,NSE_SYMBOL,NSE_NAME_OF_COMPANY,NSE_SERIES,NSE_DATE_OF_LISTING,NSE_PAID_UP_VALUE,NSE_MARKET_LOT,NSE_ISIN_NUMBER,NSE_FACE_VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1,1,INE466L01038,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10,1,INE748C01038,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10
...,...,...,...,...,...,...,...,...
2214,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10,1,INE358U01012,10
2215,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10,1,INE840M01016,10
2216,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10,1,INE217A01012,10
2217,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1,1,INE010B01027,1
2218,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,2,1,INE768C01028,2

In [11]:
df_bse = pd.read_csv(bse_path)
df_bse.reset_index(inplace=True)
rename_map = {
    "level_0":	"bse_Security Code",
    "level_1": "bse_Issuer Name",
    "level_2":	"bse_Security Id",
    "level_3":	"bse_Security Name",
    "level_4":	"bse_Status",
    "Security Code": "bse_Group",
    "Issuer Name":	"bse_Face Value",
    "Security Id":	"bse_ISIN No",
    "Security Name":	"bse_Instrument"
}
df_bse = df_bse.rename(columns=rename_map)
df_bse = df_bse[[
    "bse_Face Value",
    "bse_Issuer Name",
    "bse_ISIN No",
    "bse_Instrument",
    "bse_Security Code",
    "bse_Security Id",
    "bse_Security Name",
    "bse_Status"
]]
df_bse = df_bse.rename(columns=lambda x: x.strip().replace(" ", "_").upper())
df_bse = df_bse[df_bse['BSE_STATUS'] == 'Active']

In [17]:
import os
if not os.path.exists(nse_path):
    raise FileNotFoundError(f"NSE file not found at {nse_path}")

df_nse = pd.read_csv(nse_path)
df_nse = df_nse.rename(columns=lambda x: 'NSE_' + x.strip().replace(" ", "_"))

# Load BSE
if not os.path.exists(bse_path):
    raise FileNotFoundError(f"BSE file not found at {bse_path}")

df_bse = pd.read_csv(bse_path)
df_bse.reset_index(inplace=True)
rename_map = {
    "level_0":	"bse_Security Code",
    "level_1": "bse_Issuer Name",
    "level_2":	"bse_Symbol",
    "level_3":	"bse_Security Name",
    "level_4":	"bse_Status",
    "Security Code": "bse_Group",
    "Issuer Name":	"bse_Face Value",
    "Security Id":	"bse_ISIN No",
    "Security Name":	"bse_Instrument"
}
df_bse = df_bse.rename(columns=rename_map)
df_bse = df_bse[[
    "bse_Face Value",
    "bse_Issuer Name",
    "bse_ISIN No",
    "bse_Instrument",
    "bse_Security Code",
    "bse_Symbol",
    "bse_Security Name",
    "bse_Status"
]]
df_bse = df_bse.rename(columns=lambda x: x.strip().replace(" ", "_").upper())
df_bse = df_bse[df_bse['BSE_STATUS'] == 'Active']

# Merge
df_nse['ISIN'] = df_nse['NSE_ISIN_NUMBER']
df_bse['ISIN'] = df_bse['BSE_ISIN_NO']
df_consolidated = pd.merge(df_nse, df_bse, on='ISIN', how='outer')

# Filter Logic (Mutual Funds, ISIN prefix)
# 1. ISIN starts with IN
df_consolidated = df_consolidated[df_consolidated['ISIN'].astype(str).str.startswith('IN', na=False)]

# 2. Remove Mutual Funds
# Check BSE_ISSUER_NAME (originally 'Issuer Name')
if 'BSE_ISSUER_NAME' in df_consolidated.columns:
        df_consolidated = df_consolidated[~df_consolidated['BSE_ISSUER_NAME'].astype(str).str.contains('Mutual Fund', case=False, na=False)]

# 3. Remove Asset Management & ETF
if 'BSE_ISSUER_NAME' in df_consolidated.columns and 'BSE_SECURITY_NAME' in df_consolidated.columns:
    df_consolidated = df_consolidated[~
        (df_consolidated['BSE_ISSUER_NAME'].astype(str).str.contains('asset management', case=False, na=False) &
            df_consolidated['BSE_SECURITY_NAME'].astype(str).str.contains('etf', case=False, na=False))
    ]

# Cleanup columns
# NSE_SYMBOL, BSE_SECURITY_CODE (as string), BSE_SECURITY_ID (as alphanumeric)
# Prioritize NSE Symbol

df_consolidated['NSE_SYMBOL'] = df_consolidated['NSE_SYMBOL'].fillna('')
df_consolidated['BSE_SYMBOL'] = df_consolidated['BSE_SYMBOL'].fillna('')
df_consolidated['BSE_SECURITY_CODE'] = df_consolidated['BSE_SECURITY_CODE'].fillna(0).astype(int).astype(str)
df_consolidated['NAME_OF_COMPANY'] = df_consolidated['NSE_NAME_OF_COMPANY'].fillna(df_consolidated['BSE_ISSUER_NAME'])
unwanted_cols = [
    'NSE_ISIN_NUMBER',
    'BSE_ISIN_NO',
    'NSE_NAME_OF_COMPANY',
    'NSE_SERIES',
    'NSE_DATE_OF_LISTING',
    'NSE_PAID_UP_VALUE',
    'NSE_MARKET_LOT',
    'NSE_FACE_VALUE',
    'BSE_FACE_VALUE',
    'BSE_ISSUER_NAME',
    'BSE_INSTRUMENT',
    'BSE_STATUS'
]
df_consolidated = df_consolidated.drop(columns=unwanted_cols, errors='ignore')
df = df_consolidated[['ISIN', 'NSE_SYMBOL', 'BSE_SYMBOL', 'BSE_SECURITY_CODE', 'NAME_OF_COMPANY']]

In [36]:
url = "https://api.kite.trade/instruments"
instruments_df = pd.read_csv(url)
print(f"Fetched {len(instruments_df)} instruments from Kite")

instruments_df['tradingsymbol1'] = instruments_df['tradingsymbol'].str.rsplit('-', n=1).str[0]

valid_symbols_nse = set(df[df['NSE_SYMBOL'] != '']['NSE_SYMBOL'])

kite_nse = instruments_df[
    (instruments_df['exchange'] == 'NSE') & 
    ((instruments_df['tradingsymbol'].isin(valid_symbols_nse) | instruments_df['tradingsymbol1'].isin(valid_symbols_nse)))
]



valid_symbols_bse = set(df[(df['BSE_SYMBOL'] != '') & (df['NSE_SYMBOL'] == '')]['BSE_SYMBOL'])

kite_bse = instruments_df[
    (instruments_df['exchange'] == 'BSE') & 
    ((instruments_df['tradingsymbol'].isin(valid_symbols_bse)  | instruments_df['tradingsymbol1'].isin(valid_symbols_bse)))
]

Fetched 119387 instruments from Kite

In [39]:
final_instruments = pd.concat([kite_nse, kite_bse])

In [40]:
len(df), len(kite_nse), len(kite_bse), len(final_instruments)

(4702, 2225, 2478, 4703)

In [38]:
2225+2478

4703

In [32]:
df.to_csv("master.csv", index=False)
kite_nse.to_csv("kite_nse.csv", index=False)
kite_bse.to_csv("kite_bse.csv", index=False)

In [41]:
final_instruments

,instrument_token,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,segment,exchange,tradingsymbol1
110813,1025,4,21STCENMGM,21ST CENTURY MGMT SERVICE,0,NaN,0.0,0.01,1,EQ,NSE,NSE,21STCENMGM
110814,1793,7,AARTIIND,AARTI INDUSTRIES,0,NaN,0.0,0.05,1,EQ,NSE,NSE,AARTIIND
110815,3329,13,ABB,ABB INDIA,0,NaN,0.0,0.50,1,EQ,NSE,NSE,ABB
110817,4353,17,GATECHDVR,GACM TECHNOLOGIES,0,NaN,0.0,0.01,1,EQ,NSE,NSE,GATECHDVR
110819,4865,19,STYRENIX,STYRENIX PERFORMANCE,0,NaN,0.0,0.10,1,EQ,NSE,NSE,STYRENIX
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11828,227896836,890222,JMJFINPP,JMJ FINTECH,0,NaN,0.0,0.01,1,EQ,BSE,BSE,JMJFINPP
11829,227897092,890223,CYBERPP,CYBER MEDIA (INDIA),0,NaN,0.0,0.01,1,EQ,BSE,BSE,CYBERPP
11830,227897348,890224,LLOYDPP,LLOYDS ENTERPRISES,0,NaN,0.0,0.01,1,EQ,BSE,BSE,LLOYDPP
11831,227897604,890225,ECOPP,ECO HOTELS AND RESORTS,0,NaN,0.0,0.01,1,EQ,BSE,BSE,ECOPP
11832,227897860,890226,SURAJINDPP,SURAJ INDUSTRIES .,0,NaN,0.0,0.01,1,EQ,BSE,BSE,SURAJINDPP